/**
* Author: Roia Langa Tembo
**/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: mr_alex;
  src: local(mr_alexbold), url(/assets/fonts/mr_alexbold.woff2) format("woff2"),
    url(/assets/fonts/mr_alexbold.woff) format("woff"),
    url(/assets/fonts/mr_alexbold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Heebo;
  src: local(Heebo-Regular),
    url(/assets/fonts/Heebo-Regular.woff2) format("woff2"),
    url(/assets/fonts/Heebo-Regular.woff) format("woff"),
    url(/assets/fonts/Heebo-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Heebo-Regular;
  src: local(Heebo-Regular),
    url(/assets/fonts/Heebo-Regular.woff2) format("woff2"),
    url(/assets/fonts/Heebo-Regular.woff) format("woff"),
    url(/assets/fonts/Heebo-Regular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

/*--------------------------------------------------------------
# Variable Declarations
--------------------------------------------------------------*/

:root {
  --scarborough-black: #128b57;
  --white: #ffffff;
  --primary: #063514;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo-Regular", sans-serif;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

.heading-style {
  font-family: Heebo-Regular;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.text-style {
  font-family: "Heebo-Regular", sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.top-bar {
  height: 35px;
  padding: 10px 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: var(--scarborough-black);

  ul li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.top-bar-left {
  display: flex;
}

.top-bar-right {
  display: flex;
}

.top-bar-item {
  display: inline;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: var(--white);
}

.hero-section {
  height: 800px;
  width: 100%;
  object-fit: contain;
  background-image: url("/assets/img/forest.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 28px 60px 0;
}

.navbar-item {
  display: inline-flex;
  align-items: center;
  margin: 0 23px 0 0;
  font-family: Heebo-Regular;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
  color: var(--white);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.submenu li {
  display: block;
}

.submenu li a {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #ddd;
}

.line-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-bottom: 173px;
}

.navbar-line {
  display: inline;
  width: 500px;
  display: flex;
  height: 1px;
  margin: 21px 28px 0 0;
  border: none;
  background-color: var(--white);
}

.subheading {
  margin-left: 225px;
  margin-top: 9px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--white);
}

.title-text {
  width: 750px;
  margin: 9px 0px 36px 220px;
  font-family: mr_alex;
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--white);
}
.hero-button {
  margin-left: 227px;
  margin-top: 9px;
  font-family: Heebo-Regular;
  border-radius: 22.5px;
  background-color: transparent;
  color: var(--white);
  border: solid 1px;
  padding: 14px 88px 12px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

#services {
  padding-top: 79px;
  object-fit: contain;
  background-image: url("/assets/img/service_background.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

/*--------------------------------------------------------------
# Camping and Day Use
--------------------------------------------------------------*/

.day-use {
  text-align: center;
}

.day-use-subtitle {
  padding-top: 79px;
  font-family: Heebo-Regular_;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  color: var(--primary);
}

.day-use-title {
  font-family: Heebo-Regular_;
  padding-top: 8px;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.icon-set {
  padding-top: 54px;
  display: flex;
  gap: 99px;
}

.icon-item {
  flex: 1;
}

.day-use-button {
  margin-top: 39px;
  font-family: Heebo-Regular;
  border-radius: 22.5px;
  background-color: var(--primary);
  color: var(--white);
  border: solid 1px;
  padding: 14px 88px 12px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.explore-section {
  margin: 125px 41px 0;
  height: 735px;
  object-fit: contain;
  background-image: url("/assets/img/background.png");
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.discover-new-experiences {
  margin: -46px 264px 0 206px;
  padding: 80px 245px 0 245px;
  background-color: rgba(18, 139, 87, 0.8);
  position: absolute;
  z-index: 100;
  text-align: center;
  border-bottom: solid 10px #e4cb45;
}

.explore-subtitle {
  padding-top: 80px;
  color: var(--white);
}

.explore-title {
  padding-top: 11px;
  color: var(--white);
}

.explore-paragraph {
  padding-top: 21px;
  width: 400;
  font-family: Heebo;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: var(--white);
}

.explore-button {
  font-family: Heebo-Regular;
  margin-top: 51px;
  margin-bottom: 59px;
  padding: 12px 45px;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-bottom: solid 1.5px var(--white);
}

.tours-and-tickets {
  padding-top: 5rem;
  display: flex;
}

.splide {
  flex: 1;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  margin-right: -7.25rem;
  background-color: var(--scarborough-black);
  text-align: center;
  padding: 5rem 6.875rem;
  z-index: 4;
  border-right: solid 10px #e4cb45;
}

.tours-subtitle {
  color: var(--white);
}

.tours-title {
  color: var(--white);
  padding-top: 0.438rem;
}

.tours-paragraph {
  color: var(--white);
  font-family: Heebo;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  padding-top: 1.25rem;
}

.tours-button {
  color: var(--white);
  background-color: transparent;
  padding: 12px 45px;
  border: none;
  border-bottom: solid 1.5px var(--white);
}

.tent-inside-img {
  flex: 1;
  width: 50rem;
  z-index: 3;
}

.find-your-next {
  margin: 4.68rem 3.125rem 0;
  height: 18.688rem;
  display: flex;
  gap: 10.75rem;
}

.find-your-next-card {
  background-color: var(--white);
  padding: 4.188rem 2.814rem 2.75rem 3.75rem;
  /* padding: 4.188rem 4.688rem 29rem 3.688rem; */
}

.find-your-next-subtitle {
  color: var(--primary);
}

.find-your-next-title {
  color: var(--primary);
}

.find-your-next-paragraph {
  color: var(--primary);
  font-family: Heebo;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  padding-top: 1.25rem;
}

.shop-items {
  display: flex;
  gap: 1.25rem;
  height: 25rem;
  text-align: center;
}

.shop-items-card {
  padding: 9.813rem 8.24rem 9.313rem;
}

.shop-items-title {
  color: var(--white);
  font-family: Heebo-Regular;
  font-size: 2.5rem;
}

.shop-items-button {
  color: var(--white);
  margin-top: 1.375rem;
  background-color: transparent;
  padding: 12px 45px;
  border: none;
  border-bottom: solid 1.5px var(--white);
}

.footer {
  background-color: var(--primary);
  margin-top: 1.25rem;
  height: 44.813rem;
  padding: 5.063rem 3.25rem 4.375rem 1.5rem;
}

.footer-columns {
  display: flex;
  /* margin: 0 27.813rem; */
  margin: 0 10rem 0 25rem;
}

.footer-column-item {
  flex: 1;
  width: 9.375rem;
}

.footer-column-title {
  color: var(--white);
  font-family: Heebo-Regular;
  font-size: 0.813rem;
  letter-spacing: 1.08px;
}

.footer-column-list {
  margin: 1.063rem 3.125rem 0 0;
  opacity: 0.5;
  list-style-type: none;
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: normal;
  color: var(--white);
}

.footer-discount-section {
  margin: 1.75rem 10rem 3.5rem 25.5rem;
  padding-bottom: 2.813rem;
}

.discount-title {
  font-family: Heebo-Regular_;
  font-size: 2.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--white);
}

.email-input {
  margin-top: 0.875rem;
  margin-right: 1rem;
  padding: 0.75rem 8rem 0.688rem 1.188rem;
  border: solid 1px var(--white);
  background-color: var(--white);
  font-family: Heebo;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #063514;
}

.submit-button {
  padding: 0.75rem 2.756rem;
  font-family: Heebo-Regular_;
  border-radius: 22.5px;
  border: none;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
  color: var(--white);
  background-color: var(--scarborough-black);
}

.discount-line {
  display: inline;
  width: 535px;
  display: flex;
  height: 1px;
  margin: 45px 28px 0 0;
  border: none;
  background-color: var(--white);
}

.all-materials-2021 {
  margin-top: 2rem;
  opacity: 0.5;
  font-family: Inter;
  font-size: 0.625rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

/* Extra Wide Screen (>1440px) */
@media (min-width: 1441px) {
  .navbar-line {
    width: 600px;
  }

  .icon-set {
    padding-top: 54px;
    display: flex;
    gap: 132px;
  }
}

@media (max-width: 440px) {


  .top-bar-right {
    display: none;
  }

  .top-bar-left {
    text-align: left;
  }

  .navbar {
    display: none;
  }

  .navbar-line {
    visibility: hidden;
  }

  .subheading {
    margin: -100px 0 1.25rem;
    text-align: center;
    font-size: 20px;
  }

  .title-text {
    margin: 20px 0 50px 1px;
    width: 100%;
    text-align: center;
    font-size: 100px;
  }

  .hero-button {
    margin: 20px 15px 15px 60px;
    width: 300px;
    text-align: center;
    padding: 14px 60px;
  }

  .explore-section {
    background-image: none;
    margin: 67px 0 0 0;
  }

  .discover-new-experiences {
    margin: 0;
    margin-top: -4px;
    padding: 60px 20px;
    border: none;
  }

  .tours-and-tickets {
    display: block;
  }

  .tent-inside-img {
    display: none;
  }

  .mobile-image {
    width: 100%;
    object-fit: cover;
  }

  .splide {
    margin: 0;
    margin-top: -4px;
    padding: 60px 20px;
    border: none;
    border-bottom: solid 10px #e4cb45;
  }

  .find-your-next {
    display: block;
    margin: 132px 10px 220px 10px;
  }



  .find-your-next-subtitle {
    margin-left: 30px;
  }

  .find-your-next-title {
    text-align: center;
    margin-top: 25px;
  }

  .shop-items {
    display: block;
    z-index: 500;
  }

  .shop-items-card {
    margin: 0;
    margin-top: 21px;
    padding: 100px 40px;
  }

  .footer {
    margin: 0;
    padding: 0;
  }
}
